
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}

small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}

code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}hr{box-sizing:content-box;height:0;overflow:visible}

/* End extract */
html,body{font-size:14px;line-height:1.5}html{overflow-x:hidden}

h1{font-size:240%}h2{font-size:200%}h3{font-size:160%}h4{font-size:133%}h5{font-size:120%}h6{font-size:106%}.style-serif{font-family:serif}
h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}.style-wide{letter-spacing:4px}


hr{border:0;border-top:1px solid #eee;margin:20px 0}

/*Tables */

.listTable th, #listTable th, .button_link, button, input[type="submit"] {font-size: 87%; } --006699

.listTable td, #listTable td {font-size: 80%;}


.style-code,.style-codespan{font-family:Consolas,"courier new";font-size:16px}

.style-codespan{font-size:110%}

.style-tiny{font-size:10px!important}.style-small{font-size:12px!important}.style-medium{font-size:15px!important}.style-large{font-size:18px!important}
.style-xlarge{font-size:24px!important}.style-xxlarge{font-size:36px!important}.style-xxxlarge{font-size:48px!important}.style-jumbo{font-size:64px!important}




.success_msg {font-size: 16px;}



.text {
  font-size: 12px;

}


#return-to-top i {
    font-size: 19px;

}

.name_app, .name_app1{
	font-size: 110%;
}


@media only screen and (max-width: 1140px) {
	.app_name1{
		font-size: 100%;
	}
}

.style-small-square{height:20px;width: 20px;}
